ARCHIVE_BUCKET=
ARCHIVE_S3_ENDPOINT=
ARCHIVE_S3_ACCESS_KEY=
ARCHIVE_S3_SECRET_KEY=
ARCHIVE_S3_REGION=
ARCHIVE_S3_FORCE_PATH_STYLE=
ARCHIVE_S3_VERIFY_BUCKET=

LOG_LEVEL=

ARCHIVER_STATE_DIR=
ARCHIVER_RUN_ID=

HYPERLIQUID_BASE_URL=
HYPERLIQUID_WEBSOCKET_URL=
HYPERLIQUID_DEX=
HYPERLIQUID_SYMBOL_ALLOWLIST=
HYPERLIQUID_HTTP_TIMEOUT_S=

ARCHIVE_ENABLE_L2_SNAPSHOTS=
ARCHIVE_L2_REQUEST_SLEEP_SECONDS=
ARCHIVE_STARTUP_L2_DELAY_SECONDS=

RECORDER_FSYNC_EVERY_EVENTS=
RECORDER_SEGMENT_MAX_BYTES=
RECORDER_SEGMENT_MAX_AGE_SECONDS=
RECORDER_IDLE_SLEEP_SECONDS=

POLL_META_ASSET_CTXS_SECONDS=
POLL_L2_SNAPSHOT_SECONDS=

WRITER_LOOP_SLEEP_SECONDS=
VALIDATOR_LOOP_SLEEP_SECONDS=

VALIDATOR_STARTUP_GRACE_SECONDS=
VALIDATOR_RECORDER_STALE_SECONDS=
VALIDATOR_WRITER_STALE_SECONDS=
VALIDATOR_MAX_SEALED_SEGMENTS=
VALIDATOR_MAX_FAILED_SEGMENTS=
VALIDATOR_REQUIRE_OBJECTS_AFTER_GRACE=
VALIDATOR_VERIFY_OBJECT_STORE=